logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
*.bak
*.swp
*.log
*.iws
*.orig
.idea/workspace.xml
.idea/projectCodeStyle.xml
out
server.pid
logs/
tmp/
modules
data/attachments
